@CHARSET "ISO-8859-1";
div.header{
	margin: auto;
}

div.divContainer {
  	width:80%;
  	margin: auto;
}

table.tableContainer{
	width:100%;
	height:100%; 
	padding:20px;
	border-spacing: 10px;	
}

table.tableContainerMain{
	width:80%;
	height:100%; 
	padding:20px;
	border-spacing: 10px;	
}


tr.head{
	height:200px;
}

button.size{
	width:100%;
	height:100%;
}

button.blau{
	background-color:#428BCA;
}

button.gruen{
	background-color:#5CB85C;
}

button.gelb{
	background-color:#F0AD4E;
}

button.rot{
	background-color:#D9534F;
}

font{
	margin:auto;
	font-size:250%;
}
font.white{
	color:white;
}
font.black{
	color:black;
}

font.header{
	font-size:200%;
	color:#428BCA;
	text-shadow:2px 2px 3px rgba(0,0,0,0.3);
}
